<h1>デザインしてもらいたい部屋を登録♬</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@find_designer_post) do |f| %>
      <%= render 'shared/error_messages_for_fdp' %>
      <% options1 = ["1R", "1K", "1DK","1LDK", "2K", "2DK"] %>
      <% options2 = ["北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県","茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県","新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県","静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県","徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"] %>
      <% options3 = ["寝室","仕事","学習","趣味"] %>
      <% options4 = ["~9,999","10,000~29,999","30,000~49,999","50,000~"] %>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>

      <%= f.label :prefecture, "都道府県" %>
      <%= f.select :prefecture, options2 %>

      <%= f.label :area, "部屋のタイプ" %>
      <%= f.select :area, options1 %>

      <%= f.label :purpose, "用途・目的" %>
      <%= f.select :purpose, options3 %>

      <%= f.label :budget, "予算" %>
      <%= f.select :budget, options4 %>

      <%= f.label :demand, "要求" %>
      <%= f.text_area :demand , :size=>"30x8" %>

      <%= f.label :fdpimage, "間取り図" %>
      <%= f.file_field :fdpimage %>

      <%= f.label :fdpimage2, "部屋の写真" %>
      <%= f.file_field :fdpimage2 %><br>

      <%= f.hidden_field :user_id, :value => current_user[:id] %>

      <%= f.submit "投稿する", class: "btn btn-large btn-info" %>
      <%= link_to "また今度", find_designer_posts_path, 
       class: "btn btn-large btn-danger" %><br>
    <% end %>
  </div>
</div>
