<h1>部屋をリフォーム(情報更新)</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "お名前" %>
      <%= f.text_field :name %>

      <%= f.label :email, "連絡先(Email)" %>
      <%= f.text_field :email %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction , :size=>"30x8" %>

      <%= f.label :image %>
      <%= f.file_field :image %><br>

      <%= f.submit "更新する", class: "btn btn-large btn-info" %>
    <% end %>
  </div>
</div>