<h1>部屋をリフォーム(情報更新)</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "お名前" %>
      <%= f.text_field :name %>

      <%= f.label :email, "連絡先(Email)" %>
      <%= f.text_field :email %>

      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction , :size=>"30x8" %>

      <div class="edit-profile-photo">
        <%= image_tag @user.image.thumb.url, :size => '200x200' %><br>
      </div>
      <br>
      <%= f.label :image, "プロフィール画像を更新する?" %>
      <%= f.file_field :image %><br>
      <%= f.label :password, "確認のためパスワードを入力してください" %>
      <%= f.password_field :password %>
      <br>
      <%= f.submit "更新する", class: "btn btn-large btn-info" %>
      <%= link_to "また今度", root_path, 
       class: "btn btn-large btn-danger" %><br>
    <% end %>
  </div>
</div>