<% provide(:title, 'Sign up') %>
<h1>登録ページ</h1>
<h7>空欄を全て記入してくださいね〜</h7>
<br>
<br>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "お名前" %>
      <%= f.text_field :name %>

      <%= f.label :email, "連絡先(Email)" %>
      <%= f.text_field :email %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction , :size=>"30x8" %>

      <%= f.label :image, "プロフィール画像" %>
      <%= f.file_field :image %><br>

      <%= f.submit "登録する", class: "btn btn-large btn-info" %>
      <%= link_to "また今度", root_path, 
       class: "btn btn-large btn-danger" %><br>
    <% end %>
  </div>
</div>