<div class= "select_area">
<%= link_to "デザインーを待っている\n入り口", 
  find_designer_posts_path, class: "btn btn-xlagrge btn-primary" %>
<%= link_to "モデル部屋を待っている\n入り口", designer_registrants_path, 
  class: "btn btn-xlagrge btn-danger" %><br>
</div>
<table class="profile-form">
  <tbody>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>連絡先</th>
      <td><%= mail_to @user.email %></td>
    </tr>
    <tr class="introduction-myself">
      <th>自己紹介</th>
      <td><%= simple_format @user.introduction %></td>
    </tr>
    <tr class="posts-all-in-profile">
      <th>投稿一覧</th>
      <td>
      <% if @find_designer_posts.any? %>
        合計 <%= @find_designer_posts.count %> 件<br>
        <% @find_designer_posts.each do |f| %>
          <%= link_to f.title, find_designer_post_path(:id => f.id) %><br>
        <% end %>
      <% else %>
        まだ投稿したことないよ〜
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class="show-profile-photo">
  <%= image_tag @user.image.thumb.url, :size => '200x200' %>
</div>
