<div class="center hero-unit">
  <div class="home">
    <h1>
      一人暮らしの<br>
      インテリアを手伝う<br>
      ★ドリスペ★へ<br>
      ようこそ
    </h1>
    <h3>
      インテリア専攻の学生も絶賛募集中♪
    </h3>
    <% if signed_in? %>
      <%= link_to "デザイナーを待っている\n入り口", find_designer_posts_path, class: "btn btn-lagrge btn-primary" %>
      <%= link_to "モデル部屋をさがしいる\n入り口", designer_registrants_path, class: "btn btn-lagrge btn-danger" %>
    <% else %>
      ログイン↓<br>
      <%= link_to "部屋を覗いてみてね", signin_path, class: "btn btn-lagrge btn-info" %><br>
      ↓また登録していない方はこちら↓<br>
      <%= link_to "どりすぺに加入する", signup_path, class: "btn btn-lagrge btn-warning" %><br>
      <br>
      <%= link_to "ドリスペってどういうサイトですか？", about_path %>

    <% end %>
  </div>
</div>